/*超大屏幕*/
@media (min-width: 1200px) {
  /*调整footer显示不全的问题*/
  .bg-right-contentInner {
    //padding-top: 30px;
    /*margin-top: -45px;*/
  }

  /*n内容框的位置*/
  .bg-right-imgBox {
    position: absolute;
    left: 0;
    top: 0;
  }

  .main-article {
    /*padding-top: 45px;*/
  }

  .contentContentBox {
    /*min-height: 100%;*/
  }
}
/*中间img,关于我的布局,大于1200的情况下*/
@media (min-width: 1200px) {
  .bg-right-imgBox {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bg-right-imgBox-showMe {
    width: 100% !important;
    /*height: 100% !important;*/
    /*min-height: 700px;*/
  }

  /*.bg-right-imgBox-showMe .saySomething {*/
  /*!*transform-origin: left center;*!*/
  /*}*/
  .saySomething-inner {
    padding-left: 25px;
  }

  .bg-right-content {
    position: absolute;
    right:0;
    //padding-left: 30px;
    transform: translate3d(0, 0, 0);
  }

  .bg-right-imgBox-showMe ~ .bg-right-content {
    position: absolute;
    right: 0;
    top: 0;
    transform: translatex(100%);
    transition: transform ease 500ms;
  }

  .saySomething {
    align-items: center;
  }

  .bg-right-imgBox-showMe .saySomething {
    width: 720px;
    opacity: 1;
    overflow: inherit;
    transition: width 500ms ease, opacity 200ms ease 500ms;

  }

  .saySomething {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 500ms ease, opacity 200ms ease;
    transform: translate3d(0, 0, 0);
  }
}
@media (min-width: 1200px) {
  /*左侧myInfo*/
  .bg-right-imgBox{
    background:rgba(0,0,0,0.4);
    //background: inherit;
    -webkit-filter: blur(5px); -moz-filter: blur(5px); filter: blur(5px);
    //background-color: rgba(0,0,0,.2);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#34000000,endColorStr=#34000000);
    color: #fff;

  }
  .contentInnerBox{
    /*margin-left:10%;*/
  }

}
@media (min-width: 1200px) {
  /*>1200px时,滚动后contentNavBox加上contentNavBox-fixed的class*/
  //.contentNavBox-1200-fixed{
  //
  //  transition: all ease 300ms;
  //}
  //.contentNavBox-1200-navShow{
  //  background:rgba(0,0,0,0.4);
  //}
  .contentFooterBox{
    //left:15px;
  }
}
@media (min-width: 1200px) {
  .blackShadeInnerBox {
    margin-left: -45px;
  }
}