@media (min-width: 1500px) {
  .contentInnerBox{
    margin-left:10%;
  }
  //.contentNavBox-innerBox{
  //  margin-left:10%;
  //}
  .contentFooterBox-inner{
    width:780px;
    margin-left:10.5%;
  }
}