/*中间我的个人信息box,只在平板与大屏显示器之间显示的*/
@media (min-width: 768px) and (max-width: 1199px) {
  .bg-right-innerBlock {
    height: 270px;
    width: 720px;
    max-width: inherit;
    box-sizing: content-box;
    overflow-y: visible;
    transform: translate3d(0, 0, 0);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;

  }

  .bg-right-innerBlock-myImg {
    position: relative;
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0 10px 18px;
  }

  .bg-right-innerBlock-myInfo {
    position: relative;
    //display: block;
    width: 50%;
    float: left;
    text-align: left;
    height: 270px;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction:column;
    .myInfo_position{
      margin:0;
    }
    .myInfo_mood{
      margin:0;
    }

    .bg-right-innerBlock-myInfo-nav{
      padding: 0;
      position: absolute;
      left: -271px;
      bottom: 20px;
      h5{
        justify-content:flex-start;
        position: relative;
        left:-8px;
      }

    }
  }

  .bg-right-innerBlock-info {
    //width: auto;
    //padding-top: 30px;
    //margin-left: 35px;
    //float: left;

  }

  .bg-right-innerBlock-myInfo-follow {
    //height: 75px;
    //position: absolute;
    overflow-y: visible;
    //bottom: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top:10px;
    position:relative;
    top:5px;
    .btn-follow{
      margin:0;
    }
    .bg-right-innerBlock-info{
      padding:0 0 0 20px;
    }
  }

  .btn-follow {
    float: left;
    width: 178px;
  }

  .bg-right-imgBox {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .saySomething {
    align-items: flex-start;
  }

  .saySomething-inner {
    padding-top: 30px;
  }

  .bg-right-imgBox-showMe .saySomething {
    /*width: 720px;*/
    height: 300px;
    overflow: inherit;
    opacity: 1;
    /*transform: scale(1);*/
    /*transform-origin: top center;*/
    transition: height 500ms ease, opacity 200ms ease 500ms;

  }

  .bg-right-imgBox-showMe {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top:0;
    z-index:2;
    //transition: opacity ease 500ms;
    /*height: 600px !important;*/
    /*min-height: 700px;*/
  }


  .saySomething {
    height: 0;
    overflow: hidden;
    width: 720px;
    /*width: 0;*/
    opacity: 0;
    /*transform: scale(0);*/
    /*transform-origin: top center;*/
    transition: height 500ms ease, opacity 200ms ease;
  }

}
@media (min-width: 768px) and (max-width: 1199px) {
  .bg-right-imgBox{
    background:rgba(0,0,0,0.4);
    /*background:linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0.4))*/
  }
  //.contentNavBox{
  //  background:linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0.4))
  //}
}