@media (max-width: 991px) and (min-width: 768px) {


  .st-leftNav-top-each {
    margin-right: 15px;
  }
  .bg-right-content {
    //overflow: inherit;
    height: auto;
    /* min-height: 600px; */
    min-height: calc(100% - 270px);
    position: absolute;
    top: 315px;
    width:100%;
    z-index:2;
  }
  .bg-right-imgBox-showMe ~ .bg-right-content {
    top: 315px;
    transform: translatey(100%);
    transition: -webkit-transform ease 500ms;
  }


}
@media (max-width: 991px) and (min-width: 768px) {
  .login-content,
  .index-content {
    height: calc(100% - 45px);
  }
}


