/*只正对小的桌面显示器*/
/*中间图片中间内容的响应式设计*/
@media (min-width: 992px) and (max-width: 1199px) {
  /*设置中间img的高度*/
  .bg-right-imgBox {
    height: 270px;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  /*平板模式下,全局body具有滚动属性*/
  .bg-right-content {
    //overflow: inherit;
    height: auto;
    /*min-height: 600px;*/
    min-height: calc(100% - 270px);
    position: absolute;
    top: 270px;
  }

  .bg-right-contentInner {
    overflow: inherit;
  }
  .bg-right-imgBox-showMe ~ .bg-right-content {
    position: absolute;
    z-index:1;
    right: 0;
    //opacity:0;
    top: 0px;
    transform: translatey(100%);
    transition: -webkit-transform ease 500ms;
  }
}
/*设置中间次级导航条.只存在三种状态:<991px,992-1199px,>1200px*/
/*所以监听这三种状态的滚动进行设置*/
@media (min-width: 992px) and (max-width: 1199px) {
  .bg-right {


  }
  //.blogPageBox{
  //  overflow-y: scroll;
  //}


}

