/*小屏幕桌面显示器及以上*/
@media (min-width: 992px) {
  //.contentNavBox {
  //  /*position: relative;*/
  //  position: absolute;
  //}

  .st-leftNav-top-each {
    font-size: 18px;
  }

}
/*中间图片中间内容的响应式设计*/
@media (min-width: 992px) {

  /*.contentContentBox {*/
  /*min-height: 487px;*/
  /*}*/
}

@media (min-width: 992px) {
  .labelDetailPage,
  .articleDetailPage {
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  .blackShade.loading {
    margin-left: -45px;
  }
}