@media (max-width: 1199px) {

  .bg-right-innerBlock {
    background-color: transparent;
    padding: 0;
  }
  .blogPageBox{
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
