/*手机模式*/
@media (max-width: 767px) {


  .contentInnerBox {
    padding: 0 10px;
  }

  body {
    //min-height: inherit;
    //overflow-y:scroll;
  }
  html {
    //overflow-y:scroll;
  }
  .contentInnerBox {
    overflow-y: scroll;
    //padding:0;
  }
  .contentContentBox {
    margin-top: 0;
  }
  .main-article-body {
    //padding-top:0;
  }
  .paper__content {
    padding: 35px 14px 0 !important;
  }

  .indexBox .index-content .head-wrap h3 {
    max-width: 260px;
  }
  .bg-right-content {
    padding-top: 75px;
    height: auto;
  }

  .st-leftNav-top-each {
    font-size: 18px;
    width: 45px;
    transition: all 400ms ease;
    /*background-color: #444;*/
  }
  .main-article .main-article-body {
    padding: 0 !important;
  }
  .bg-right-contentInner {
    padding-bottom: 15px;
  }
  //.contentNavBox-innerBox {
  //  width: 100%;
  //  max-width: 100%;
  //  /*padding: 0 10px;*/
  //
  //
  //}
  //.contentNavBox{
  //  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))!important;
  //}
  .article-index {
    padding: 0px 10px 10px !important;
  }

  .commentbox {
    margin-bottom: 30px;
  }

}

@media (max-width: 767px) {
  .index-content-innerBox-img {
    height: 55%;
    top: 13%;
  }

  .labelDetailPage-box,
  .articleDetailPage-box {
    padding: 30px 10px 60px;
  }

  .article__infobox {
    padding: 14px !important;
    @include display-flex;
    @include justify-content(space-between !important);
    @include align-items(center !important);
  }
  .article__header {
    padding: 14px !important;
  }
  .paper__info {
    padding: 14px !important;
  }
  .paper__header {
    padding: 14px 14px 0 !important;
  }
  .paper .paper__header h1 {
    font-size: 30px !important;
  }
  .commentbox__inner {
    padding: 0 14px 14px !important;
  }
  .commentbox__header--Comments {
    font-size: 40px !important;
  }
  .comments__ask__header,
  .comments__ask__content {
    padding: 0 !important;
  }
  .comments__reply__header,
  .comments__reply__content {
    padding: 0 !important;
  }

}

@media (max-width: 768px) {

}



