/*平板模式*/
@media (max-width: 991px) {
  /*平板模式下,右侧内容向左占位*/
  .bg-right {
    padding-left: 0px;
  }

  /*平板模式下,设置中间img的高度*/
  .bg-right-imgBox {
    height: 270px;
    position: absolute;
    top:45px;
    width:100%;
    z-index:1;
  }

  /*平板模式下,将top nav悬浮在中间的img上*/
  .bg-left {
    position: fixed;
    left: 0;
    top: 0;
    height: 45px;
    width: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.9) !important;
  }

  /*平板模式下,将top nav右对齐,横向排列*/
  .st-leftNav {
    flex-direction: row;
  }

  /*平板模式下,改变每个top nav的颜色属性,宽度自动,向左浮动,排成一横排*/
  .st-leftNav-top-each {
    color: #fff;
    background-color: transparent;
    width: auto;
    float: left;
    min-width:45px;
  }

  /*平板模式下,内容区继承父类的滚动设置*/
  .contentInnerBox {
    overflow: inherit;
  }

}
@media (max-width: 991px) {
  .bg-right {
    overflow: visible;
  }

  .bigBox {
    overflow: scroll;
  }

}
@media (max-width: 991px) {
  .login-content,
  .index-content{
    height: calc(100% - 5px);
  }

}