<div class="articleList animated fadeIn">
    <!--column title-->
    <h3 class="title">
        <i class="fa fa-fw fa-lg fa-list"></i> 文章列表 / <span class="blue">ARTICLE</span>
    </h3>
    <div class="text-right">
        <button ui-sref="admin.articleManager.article" class="btn btn-success">
            <i class="fa fa-plus"></i>
        </button>
    </div>
    <!--修改,启用禁用,查看-->
    <table class="table" id="table" ng-init="predicate = 'publish_time';reverse=true">
        <thead>
        <tr class="text-center">
            <th>#</th>
            <th ng-click="predicate = 'title'; reverse=!reverse">文章题目
                <span ng-if="predicate == 'title'">
                    <i ng-if="!reverse" class="fa fa-caret-up"></i>
                    <i ng-if="reverse" class="fa fa-caret-down"></i>
                </span>
            </th>
            <th ng-click="predicate = 'publish_time'; reverse=!reverse">发布时间
                <span ng-if="predicate == 'publish_time'">
                    <i ng-if="!reverse" class="fa fa-caret-up"></i>
                    <i ng-if="reverse" class="fa fa-caret-down"></i>
                </span>
            </th>
            <th ng-click="predicate = 'read_num'; reverse=!reverse">阅读数
                <span ng-if="predicate == 'read_num'">
                    <i ng-if="!reverse" class="fa fa-caret-up"></i>
                    <i ng-if="reverse" class="fa fa-caret-down"></i>
                </span>
            </th>
            <th ng-click="predicate = 'comment_num'; reverse=!reverse">评论数
                <span ng-if="predicate == 'comment_num'">
                    <i ng-if="!reverse" class="fa fa-caret-up"></i>
                    <i ng-if="reverse" class="fa fa-caret-down"></i>
                </span>
            </th>
            <th ng-click="predicate = 'state'; reverse=!reverse">状态
                <span ng-if="predicate == 'state'">
                    <i ng-if="!reverse" class="fa fa-caret-up"></i>
                    <i ng-if="reverse" class="fa fa-caret-down"></i>
                </span>
            </th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="article in articleLists | orderBy:predicate:reverse">
            <td ng-bind="$index+1"></td>
            <td ng-bind="article.title"></td>
            <td ng-bind="article.publish_time | date: 'yyyy/MM/dd'"></td>
            <td ng-bind="article.read_num"></td>
            <td ng-bind="article.comment_num"></td>
            <td ng-switch="article.state">
                <span ng-switch-when="true">已发表</span>
                <span ng-switch-when="false">草稿</span>
            </td>
            <td>
                <button ui-sref="admin.articleManager.article({_id:article._id})"
                        class="btn btn-default btn-sm">
                    <i class="fa fa-pencil"></i>
                </button>
                <button data-toggle="modal" data-target="#delArticle" ng-click="delArtBtn(article._id)" class="btn btn-danger btn-sm"><i class="fa fa-bitbucket"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--弹出层-删除-->
<div class="modal fade" id="delArticle" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-bitbucket"></i> 删除文章/DELART</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center deleteConfirmText">确定删除这篇文章?</h3>
            </div>
            <div class="modal-footer">
                <span class="submitText" ng-bind="submitText"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button ng-disabled="!!submitText" type="button"  data-dismiss="modal" ng-click="confirmDelArtBtn()" class="btn btn-danger">
                    删除
                </button>
            </div>
        </div>
    </div>
</div>
