/*文章盒子*/
.article {
  box-sizing: border-box;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover .article__header .article__header--title {
    color: $base-theme-color;
  }
  &:hover .article__infobox .arrticle__readmore span{
    background-color: $base-theme-color;
  }
  //标题
  .article__header {
    padding: 35px;
    color: #000;
    font-size: 20px;
    line-height: 28px;
    background: #fff;
    //title
    .article__header--title {
      text-align: left;
      color: #333;
      transition: color ease 200ms;
    }
    //内容
    .article__header--content {
      color: #999;
      line-height: 24px;
      font-size: 16px;
      p {
        margin: 0;
      }
    }
  }
  //文章信息
  .article__infobox {
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(center);
    background:$base-background-color;
    padding: 14px 35px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.8) inset;
    transition: all ease 200ms;
    .article__info {
      @include display-flex;
      @include justify-content(flex-start);
      @include align-items(center);
      .article__info--each {
        color: #eee;
        margin-right: 20px;
        font-size: 14px;
      }
    }
    //阅读更多
    .arrticle__readmore {
      span {
        border:1px solid $base-theme-color;
        transition: all ease 200ms;
        border-radius:34px;
        color: #eee;
        padding: 4px 22px;
        font-size: 16px;
      }

    }
  }

}
.readMoreTo{
  margin-top:50px;
  text-align:center;
  span{
    &:hover{
      color:$base-theme-color;
      &:after{
        background-color: $base-theme-color;
      }
    }
    transition: all ease 200ms;
    cursor:pointer;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 0 0px 0 6px;
    &:after{
      transition: all ease 200ms;
      content: '';
      position: absolute;
      bottom: -9px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
  }
}