html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  background: #333 url(../img/demo-11.jpg) no-repeat center center/cover;
  -webkit-filter: blur(10px); /* Chrome, Opera */
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;

  background: transparent radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  &.isLogin{

    .admin_btn{
      display:block!important;
    }
  }
  .admin_btn{
    display:none;
  }
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/*整体结构*/
.bigScreen {
  height: 100%;
  width: 100%;
}

.bigBox {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
//左边总导航
.bg-left {
  position: fixed;
  height: 100%;
  width: 45px;
  left: 0;
  top: 0;
  z-index: 10;
  transition: background-color ease 400ms;
  color: rgba(256, 256, 256, 0.4);
  background-color: rgba(0, 0, 0, 0.8);
  &:hover {
    color: rgba(256, 256, 256, 0.8);
    background-color: rgba(0, 0, 0, 0.9);
    text-shadow: 0px 1px 1px #3b3b3b;
  }
}

.bg-right {
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 45px;
  overflow: scroll;
}

.st-leftNav {
  height: 100%;
  /*background-color: #eee;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.st-leftNav-top-each {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  float: left;
  cursor: pointer;
  transition: all ease 300ms;
}

.st-leftNav-top-each:hover {
  color: $base-theme-color;
}

.st-leftNav-top-each-active {
  color: $base-theme-color !important;
}

.contentInnerBox {
  max-width: 780px;
  z-index: 7;
}

.main-article {
  box-sizing: border-box;
  width: 100%;
  overflow: visible;
  font-size: 16px;

  .main-article-body {
    padding: 20px 0;
    position: relative;
    overflow: visible;
  }

}

.bg-right-imgBox {
  padding: 0;
  height: 100%;
  z-index: 9;
  transition: all ease 500ms;
  display: flex;
}

.bg-right-content {
  height: 100%;
  overflow-y: scroll;
  position: relative;
  box-sizing: border-box;
  transition: all ease 500ms;
}

.bg-right-contentInner {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  position: relative;
  padding-bottom: 64px;
}

.bg-right-innerBlock {
  width: 350px;
  position: relative;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
  border-radius: 5px;
  transform: translate3d(0, 0, 0);
  transition: all ease 500ms;

}

.bg-right-innerBlock-myImg {
  width: 100%;
}

.bg-right-innerBlock-myImg img {
  width: 160px;
  height: 160px;
}

.bg-right-innerBlock-myInfo {
  .myInfo_name {
    color: #fff;
    margin: 10px 0;
    width: 100%;
  }
  .myInfo_position {
    color: #fff;
    width: 100%;
  }
  .myInfo_address {
    color: #fff;
    width: 100%;
  }
  /*mood*/
  .myInfo_mood {
    line-height: 170%;
    font-size: 14px;
    color: #fff;
    width: 100%;
  }

  span {
    color: #fff;
  }
  .bg-right-innerBlock-myInfo-nav {
    padding-top: 10px;
    h5 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      span {
        margin: 0 8px;
        position: relative;
        &:hover {
          cursor: pointer;
        }
        &.active {
          color: $base-theme-color;
        }
        &.active::after {
          content: "";
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: $base-theme-color;
        }
      }
    }

  }
  width: 100%;
}

.saySomething {
  /*position: absolute;*/
  position: relative;
  display: flex;
  align-items: center;
  overflow: visible;
  //text-indent: 2em;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  max-width: 720px;
  color: #fff;
  opacity: 0;
  box-sizing: border-box;
}

.saySomething-inner {
  opacity: 0;
  transition: 400ms ease all;
}

.bg-right-imgBox-showMe .saySomething-inner {
  opacity: 1;
}

.btn-follow {
  width: 160px;
  height: 40px;
  display: block;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  margin: 15px auto 10px;
  background: $base-theme-color;
  color: #fff;
  border-radius: 20px;
  transition: 0.2s ease;

  text-decoration: none;
  cursor: pointer;
}

.btn-follow:hover {
  text-decoration: none;
  background: #49c8fb !important;
  color: #fff;
}

.btn-follow:link,
.btn-follow:active,
.btn-follow:visited {
  text-decoration: none;
  background: $base-theme-color;
  color: #fff;
}

.btn-back {
  text-indent: 0;
  box-sizing: content-box;
  width: 150px;
  height: 40px;
  display: block;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  margin: 25px auto 10px;
  border: 2px solid $base-theme-color;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}

.btn-back:hover {
  text-decoration: none;
  background: $base-theme-color;
  color: #fff;
}

.bg-right-innerBlock-info {
  font-size: 20px;
  display: block;
  width: 100%;
  padding-top: 5px;
}

/*标签框的设置*/
.main-article-label {
  overflow: hidden;
  font-size: 14px;
  margin: 25px auto 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.main-article-label span {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0 10px;
  border: 1px solid #999;
  border-radius: 10px;
  cursor: pointer;
  margin: 3px 2px;

  transition: all ease 100ms;

}

.main-article-label span:hover {
  color: #fff;
  background-color: $base-theme-color;
  border-color: $base-theme-color;
  /*box-shadow: 0px 0px 4px #000;*/
}

/*footerBox*/
.contentFooterBox {
  position: absolute;
  bottom: 0;
  height: auto;
  font-size: 12px;
  color: #b8b8b8;
  /*background-color: #0b97c4;*/
  width: 100%;
  display: block;
  /*position: relative;*/

  box-sizing: content-box;
  padding: 10px 0 10px;
  overflow: hidden;

  /*border-top: 1px solid #eee;*/
}

.contentFooterBox-inner {
  text-align: center;
  /*outline:1px solid #eee;*/
  /*width:410px;*/
  margin: 0 auto;
}

.contentFooterBox p {
  padding: 0;
  margin: 5px;
}

.footer-support {
  cursor: pointer;
}

.contentFooterBox a {
  color: #b8b8b8;
  text-decoration: none;
}

.contentFooterBox a:hover {
  color: #fff;
  text-decoration: none;
}

.bg-right-innerBlock-info > i {
  margin: 0 5px;
  cursor: pointer;
}

.bg-right-innerBlock-info > i:hover {
  color: $base-theme-color;
}

.bg-right-innerBlock-info > a {
  margin: 0 5px;
  color: inherit;
  cursor: pointer;
}

.bg-right-innerBlock-info > a:hover {
  color: $base-theme-color;
}



.contentContentBox {
  z-index: 7;
  margin-top: 15px;
  position: relative;
}

/*nav固定状态*/
.contentContentBox-all-navFixed {
  margin-top: 79px;
}

/**/
.myInfo-shadow {
  text-shadow: 0px 3px 12px #000;
}

.myInfo-box-shadow {
  box-shadow: 0px 3px 12px #000;
}

/*tip的格式*/
.tooltip-inner {
  /*width:300px;*/
  white-space: nowrap;
  font-size: 14px;
}








/*黑色遮罩*/
.blackShade {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 500px;
  top: 0;

}

.blackShade.error {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.blackShadeInner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  min-height: 200px;
  font-size: 16px;
  color: #fff;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.error .blackShadeInner {
  background-color: #333;
}

.top .blackShadeInner {
  top: 0;
  color: #ffffff;
  background-color: transparent;
  transform: translate3d(-50%, 0, 0);
}

.top .blackShadeInner .fa-inverse {
  color: #000;
}

/*aboutme*/
.aboutme {
  cursor: pointer;
}









/*logo*/
.siteLogo {
  display: inline-block;
  height: 45px;
  width: 45px;
  line-height: 45px;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.9) url(../img/pleasehole-img.png) no-repeat center center/30px auto;
}

