<article class="main-article animated fadeIn" scroll-top-zero>
    <section class="main-article-body">
        <article class="article-index card-shadow" ng-repeat="article in articleLists">
            <h1 ng-bind="article.title"></h1>
            <h5 class="article-index-info text-overflow">
                <span class="article-time" ng-bind="article.publish_time | date: 'yyyy-MM-dd'"></span>
                <span>阅读数<span class="article-readnum" ng-bind="article.read_num"></span></span>
                <span>评论数<span class="article-comment" ng-bind="article.comment_num"></span></span>
                <span ng-repeat="tag in article.tags"><i class="fa fa-tag"></i>&ensp;{{tag}}&emsp;</span>
            </h5>
            <section class="article-index-body-content" ng-bind-html="article.content | toTrusted">
                文章摘要
            </section>
            <section ui-sref="blog.detail({id:article._id})" class="article-index-body-readmoreBox">
                <span class="article-index-body-readmore">
                    阅读更多
                </span>
            </section>
        </article>
    </section>
</article>
<!--</div>-->
