<!--<div class="contentInnerBox center-block">-->
<article class="main-article  animated fadeIn" scroll-top-zero>
    <!--<div id="timeline">-->
    <!--<div class="timeline-item" ng-repeat="historyList in historyLists | orderBy:['yearAndMonth']:true">-->
    <!--<div class="timeline-icon">-->
    <!--<i class="fa fa-fw" ng-class="{'fa-bookmark':$odd,'fa-calendar':$even}"></i>-->
    <!--</div>-->
    <!--<div class="timeline-content" ng-class="{'right':$odd}">-->
    <!--<h3 ng-bind="historyList.yearAndMonth">2016.02</h3>-->
    <!--<a ui-sref="detail({catalogueName:'{{article.catalogueName}}',type:'article',id:'{{article._id}}'})" ng-repeat="article in historyList.articles">-->
    <!--<p><i class="fa fa-caret-right"></i>&emsp;<span ng-bind="article.title"></span></p>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <div class="yearBox card-shadow">
        <h3 class="yearBox__title"><i class="fa fa-calendar"></i>&ensp;Year of 2016</h3>
        <div class="yearBox__content">
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>JUN</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1(阅读1)</li>
                    <li class="monthBox__content__item">文章名字2(阅读1)</li>
                    <li class="monthBox__content__item">文章名字3(阅读1)</li>
                    <li class="monthBox__content__item">文章名字4(阅读1)</li>
                </ul>
            </div>
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>FEB</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1(阅读1)</li>
                    <li class="monthBox__content__item">文章名字2(阅读1)</li>
                    <li class="monthBox__content__item">文章名字3(阅读1)</li>
                    <li class="monthBox__content__item">文章名字4(阅读1)</li>
                    <li class="monthBox__content__item">文章名字1(阅读1)</li>
                    <li class="monthBox__content__item">文章名字2(阅读1)</li>
                    <li class="monthBox__content__item">文章名字3(阅读1)</li>
                    <li class="monthBox__content__item">文章名字4(阅读1)</li>
                    <li class="monthBox__content__item">文章名字1(阅读1)</li>
                    <li class="monthBox__content__item">文章名字2(阅读1)</li>
                    <li class="monthBox__content__item">文章名字3(阅读1)</li>
                    <li class="monthBox__content__item">文章名字4(阅读1)</li>
                    <li class="monthBox__content__item">文章名字1(阅读1)</li>
                    <li class="monthBox__content__item">文章名字2(阅读1)</li>
                    <li class="monthBox__content__item">文章名字3(阅读1)</li>
                    <li class="monthBox__content__item">文章名字4(阅读1)</li>
                    <li class="monthBox__content__item">文章名字1(阅读1)</li>
                    <li class="monthBox__content__item">文章名字2(阅读1)</li>
                    <li class="monthBox__content__item">文章名字3(阅读1)</li>
                    <li class="monthBox__content__item">文章名字4(阅读1)</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="yearBox card-shadow">
        <h3 class="yearBox__title">Year of 2015</h3>
        <div class="yearBox__content">
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>JUN</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1</li>
                </ul>
            </div>
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>JUN</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1</li>
                    <li class="monthBox__content__item">文章名字2</li>
                </ul>
            </div>
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>JUN</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1</li>
                    <li class="monthBox__content__item">文章名字2</li>
                    <li class="monthBox__content__item">文章名字3</li>
                    <li class="monthBox__content__item">文章名字4</li>
                </ul>
            </div>
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>JUN</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1</li>
                    <li class="monthBox__content__item">文章名字2</li>
                    <li class="monthBox__content__item">文章名字3</li>
                    <li class="monthBox__content__item">文章名字4</li>
                </ul>
            </div>
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>JUN</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1</li>
                    <li class="monthBox__content__item">文章名字2</li>
                    <li class="monthBox__content__item">文章名字3</li>
                    <li class="monthBox__content__item">文章名字4</li>
                </ul>
            </div>
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>JUN</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1</li>
                    <li class="monthBox__content__item">文章名字2</li>
                    <li class="monthBox__content__item">文章名字3</li>
                    <li class="monthBox__content__item">文章名字4</li>
                </ul>
            </div>
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>JUN</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1</li>
                    <li class="monthBox__content__item">文章名字2</li>
                    <li class="monthBox__content__item">文章名字3</li>
                    <li class="monthBox__content__item">文章名字4</li>
                </ul>
            </div>
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>JUN</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1</li>
                    <li class="monthBox__content__item">文章名字2</li>
                    <li class="monthBox__content__item">文章名字3</li>
                    <li class="monthBox__content__item">文章名字4</li>
                </ul>
            </div>
            <div class="monthBox">
                <div class="monthBox__name">
                    <h3>FEB</h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item">文章名字1</li>
                    <li class="monthBox__content__item">文章名字2</li>
                    <li class="monthBox__content__item">文章名字3</li>
                    <li class="monthBox__content__item">文章名字4</li>
                </ul>
            </div>
        </div>

    </div>
</article>
<!--</div>-->
