//
.nodata {
  padding: 20px;
  @include display-flex;
  @include justify-content(flex-end);
  @include align-items(center);
  @include flex-direction(column);
  height: 312px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  //display: none;
  .logo-left-box {
    position: absolute;
    left: 25px;
    top: 25px;
    color: #fff;
    .logo{
      margin-bottom:5px;
    }
    .notice {
      margin-top: 5px;
      margin-bottom: 10px;
      position: relative;
      &::after {
        content: '';
        height: 3px;
        width: 30px;
        position: absolute;
        background: $base-theme-color;
        left: 0;
        bottom: -6px;
      }
    }
    .blue {
      color: $base-theme-color;
    }
    .white {
      color: #fff;
    }
  }
  img {
    width: 200px;
    height: 200px;
    //display: inline-block;
    //border-radius: 100%;
    //overflow: hidden;
    //border: 1px solid #fff;
    //margin-bottom: 10px;
  }
  &::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 70px;
    background:$base-theme-color;
    border-bottom-right-radius: 5px;
  }
}

//toaster样式
#toaster-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 14;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  transition: 0.2s opacity linear;
  visibility: hidden;
  opacity: 0;

  .toaster {
    //padding: 0.468rem;
    //border-radius: 0.117rem;
    //background-color: rgba(0, 0, 0, 0.7);
    ////background-color: rgba(255, 151, 0, 1);
    //color: #fff;
    //text-align: center;
    //text-overflow: ellipsis;
    //font-size: 0.351rem;
    //margin-bottom:1rem;
  }
  &.active {
    opacity: 1;
  }
  &.visible {
    visibility: visible;
  }
}