<div class="comments animated fadeIn">
    <!--column title-->
    <h3 class="title">
        <i class="fa fa-fw fa-lg fa-comments"></i> 评论管理 / <span class="blue">COMMENTS</span>
    </h3>
    <!--增加-->
   <section class="commentList">
       <div class="comments__ask" ng-repeat="item in commentList">
           <div class="comments__ask__title">
               <h3  ui-sref="blog.detail({id:item.article_id._id})"><span>原文: </span><span ng-bind="item.article_id.title"></span></h3>
           </div>
           <div class="comments__ask__header">
               <span class="name" ng-bind="item.name"></span>
               &ensp;·&ensp;
               <span>三天前</span>
               &ensp;·&ensp;
               <span ng-bind="item.email"></span>

               <span ng-if="!item.name.isIReplied">&ensp;·&ensp; <span class="reply" ng-click="comment(item,$event)">回复</span></span>
               &ensp;·&ensp;
               <span class="del" ng-click="delbtn(item._id)" data-toggle="modal" data-target="#delComm">删除</span>
           </div>
           <div class="comments__ask__content">
               <span ng-bind="item.content"></span>
           </div>

           <!--问题盒子-->
           <div class="commentBox__questionBox">
               <input class="commentBox__questionBox--input" type="text" placeholder="我要说几句" ng-model="comment_info.content">
               <button ng-disabled="!comment_info.content" class="btn commentBox__questionBox--reply" ng-click="commentThis($event,item)">
                   <i class="fa" ng-class="{true:'fa-spinner fa-spin',false:'fa-comments'}[isSubmitReply]"></i><span>  评论</span>
               </button>
           </div>
       </div>
   </section>


</div>

<!--弹出层-删除-->
<div class="modal fade" id="delComm" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-bitbucket"></i> 删除评论/DELCOMMENT</h4>
            </div>
            <div class="modal-body">
                <h3 class="text-center deleteConfirmText">确认删除此评论?</h3>
            </div>
            <div class="modal-footer">
                <span class="submitText" ng-bind="submitText"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button ng-disabled="!!submitText" type="button" data-dismiss="modal" ng-click="confirmDelCommBtn()" class="btn btn-danger">
                    删除
                </button>
            </div>
        </div>
    </div>
</div>
