<div class="blogPageBox container-fulid bigScreen animated fadeIn" ng-class="{true:'lockScreen',false:''}[isShowAboutMe]">
    <div class="col-lg-4  bg-right-imgBox col-md-12 hidden-xs"  ng-class="{true:'bg-right-imgBox-showMe',false:''}[isShowAboutMe]">
        <div class="bg-right-innerBlock text-center clearfix">
            <!--img-->
            <div class="bg-right-innerBlock-myImg" ng-click="isShowAboutMe=!isShowAboutMe">
                <img class="myInfo-box-shadow img-circle aboutme" width="100%"  ng-src="{{myInfo.img_url | imgURl}}" err-src="./web/img/employee.svg" alt="我的头像好像没加载出来诶..">
            </div>
            <!--info-->
            <div class="bg-right-innerBlock-myInfo">
                <!--name-->
                <h2 class="myInfo_name myInfo-shadow" ng-bind="myInfo.full_name || '我的昵称'"></h2>
                <!--Web Developer & Full Stack-->
                <h4 class="myInfo_position myInfo-shadow" ng-bind="myInfo.position || '我的职位'"></h4>
                <!--location: Suzhou, China-->
                <h5 class="myInfo_address myInfo-shadow">
                    <span class="fa fa-map-marker"></span> <span ng-bind="myInfo.address || '我的地址'"></span>
                </h5>
                <h5 class="myInfo_mood myInfo-shadow"><i class="fa fa-coffee"></i> <span ng-bind="myInfo.motto || '我的心情'"></span></h5>
                <section class="bg-right-innerBlock-myInfo-nav myInfo-shadow">
                    <h5>
                        <span ui-sref="blog.articleList" ui-sref-active="active">最近更新</span>
                        <span ui-sref="blog.historyList" ui-sref-active="active">时光机</span>
                        <span ui-sref="blog.tagList" ui-sref-active="active">标签库</span>

                    </h5>
                </section>
                <div class="bg-right-innerBlock-myInfo-follow clearfix">
                    <!--follow-->
                    <a href="https://github.com/xiangsongtao" target="_blank" class="btn-follow text-overflow myInfo-shadow">FOLLOW</a>
                    <div class="bg-right-innerBlock-info text-overflow">
                        <!--社交相关的icon-->
                        <i class="fa fa-qq hidden-xs"
                           ng-click="modalInfo.src='./web/img/qq-addme.jpg'"
                           data-toggle="modal"
                           data-target="#socialContact"></i>
                        <i class="fa fa-weixin hidden-xs"
                           ng-click="modalInfo.src='./web/img/weixin-addme.jpg'"
                           data-toggle="modal"
                           data-target="#socialContact"></i>
                        <a href="http://weibo.com"><i class="fa fa-weibo hidden-xs"></i></a>
                        <a href="http://t.qq.com/hsiang-sootao"><i class="fa fa-tencent-weibo hidden-xs"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--saySomething-->
        <div class="saySomething myInfo-shadow">
            <div class="saySomething-inner">
                <div class="saySomething-inner-word" ng-bind-html="(myInfo.personal_state  || '关于我的一些介绍....') | toTrusted">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-12  bg-right-content noPadding">
        <div class="bg-right-contentInner">
            <div class="contentContentBox  center-block">
                <div class="contentInnerBox center-block">
                    <!--blogPage.具体内容的区域-->
                    <div ui-view>

                        <!--loadingPage-->
                        <!--<div class="top">-->
                            <!--<div class="blackShadeInner text-center center-block">-->
                                <!--<section>-->
                                    <!--<i class="fa fa-spinner fa-spin fa-4x"></i>-->
                                    <!--<h3>小涛正在加载...</h3>-->
                                    <!--<span></span>-->
                                    <!--<small>just a moment!</small>-->
                                <!--</section>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--loadingPage end-->
                    </div>
                    <!--blogPage.具体内容的区域 end-->
                </div>
            </div>
        </div>
        <!--footer-->
        <footer class="contentFooterBox">
            <div class="contentFooterBox-inner">
                <div class="footer-info text-overflow"  ng-include="'web/tpl/copyright.footer.tpl.html'"></div>
                <div class="footer-support text-overflow hidden-xs">
                    <span>Supported By: </span>
                    <a>Angularjs</a>
                    <a>jQuery</a>
                    <!--<a>vuejs</a>-->
                    <a>gulp</a>
                    <a>ES6</a>
                    <a>Nodejs</a>
                    <a>Express</a>
                    <a>MongoDB</a>
                    <a>Aliyun</a>
                </div>
            </div>
        </footer>
    </div>
</div>


<!--加我qq、微信的modal-->
<div class="modal fade" id="socialContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img width="100%" class="socialContact-img" ng-src="{{modalInfo.src}}" alt="来加我!!">
            </div>
        </div>
    </div>
</div>