<!--<div class="contentInnerBox center-block">-->
<article class="main-article animated fadeIn" scroll-top-zero>
    <!--<section class="main-article-label">-->
    <!--<span><i class="fa fa-tags"></i> HTML5</span>-->
    <!--<span><i class="fa fa-tags"></i> CSS3</span>-->
    <!--<span><i class="fa fa-tags"></i> Javascript</span>-->
    <!--<span><i class="fa fa-tags"></i> 布局</span>-->
    <!--<span><i class="fa fa-tag"></i> Angularjs</span>-->

    <!--</section>-->
    <section class="main-article-body">
        <!--start img+word-->
        <article class="article-index card-shadow" ng-repeat="articleList in articleLists | orderBy:['-time'] | pageSelect:nowPageNum ">
            <h1 ng-bind="articleList.title"></h1>
            <h5 class="article-index-info text-overflow">
                <span class="article-time" ng-bind="articleList.time | date: 'yyyy-MM-dd'"></span>
                <span ng-if="articleList.readNum>0">阅读数<span class="article-readnum" ng-bind="articleList.readNum"></span></span>
                <!--<span ng-if="articleList.commentNum>0">评论数<span class="article-comment"  ng-bind="articleList.commentNum"></span></span>-->
                <span ng-repeat="tag in articleList.tags"><i class="fa fa-tag"></i>&ensp;{{tag.name}}&emsp;</span>
            </h5>
            <section class="article-index-body">
                <section class="article-index-body-content" ng-bind-html="articleList.content | toTrusted">
                    文章摘要
                </section>
            </section>
            <section class="article-index-body-readmoreBox">
            <a  class="article-index-body-readmore" ui-sref="detail({catalogueName:'{{articleList.catalogueName}}',type:'article',id:'{{articleList._id}}'})">
                阅读更多
            </a>
            </section>
        </article>
        <!--end-->

    </section>
    <!--分页-->
    <section class="center-block text-center" ng-if="pageNum > 1">
        {{pageNum}}
        <!--<nav class="">-->
        <ul class="pagination" page-select>
            <li class="prev disabled"><a><span>&laquo;</span></a></li>
            <li class="pageNum" ng-repeat="page in pagePagination"><a ng-bind="page"></a></li>
            <li class="next"><a><span>&raquo;</span></a></li>
        </ul>
        <!--</nav>-->
    </section>
</article>
<!--</div>-->
