<!--&lt;!&ndash;<div class="contentInnerBox center-block">&ndash;&gt;-->
<!--<article class="labelDetailPage animated fadeIn"  scroll-top-zero>-->
  <!--<div class="labelDetailPage-box center-block">-->
    <!--<section class="labelDetailPage-nav">-->
      <!--<strong><i class="fa fa-street-view"></i> 你的位置:</strong>&ensp;-->
      <!--<span class="labelDetailPage-nav-back">-->
         <!--<i class="fa {{detail.catalogueIconClass}}"></i>-->
      <!--<span ng-bind="detail.catalogueCNName" ui-sref="{{detail.catalogueName}}"></span>-->
      <!--</span>-->

      <!--<i>/</i>&ensp;-->
      <!--<i class="fa fa-tag"></i>-->
      <!--<span ng-bind="detail.typeName"></span>-->
      <!--<i>/</i>&ensp;-->
      <!--<span ng-bind="detail.name"></span>-->
    <!--</section>-->
    <!--<a ui-sref="detail({catalogueName:'{{article.catalogueName}}',type:'article',id:'{{article._id}}'})" ng-repeat="article in detail.articleList">-->
      <!--<section class="labelDetailPage-info center-block">-->
      <!--<h3 ng-bind="article.title"></h3>-->
      <!--<h5 class="label-index-info text-overflow">-->
        <!--<span class="label-time" ng-bind="article.time | date:'yyyy-MM-dd'"></span>-->
        <!--<span ng-if="article.readNum>0">阅读数<span class="label-readnum" ng-bind="article.readNum"></span></span>-->
        <!--<span ng-if="article.commentNum">评论数<span class="label-comment" ng-bind="article.commentNum"></span></span>&emsp;-->
        <!--<span ng-repeat="tag in article.tags"><i class="fa fa-tag"></i>&ensp;{{tag.name}}&emsp;</span>-->
      <!--</h5>-->
    <!--</section>-->
    <!--</a>-->
  <!--</div>-->



<!--</article>-->
<!--<div ng-include="'web/tpl/home.footer.html'"></div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
