<article class="main-article animated fadeIn">
    <section class="main-article-body">

        <div class="paper" ng-class="{true:'loaded',false:'loading'}[!!article]">
            <section class="paper__header">
                <h1 ng-bind="article.title"></h1>
            </section>
            <section class="paper__info">
                <div class="paper__info--span">
                    <i class="fa fa-calendar"></i>
                    <span ng-bind="article.publish_time | date: 'yyyy-MM-dd'"></span>
                </div>
                <div class="paper__info--span">
                    <i class="fa fa-book"></i>
                    阅读数
                    <span ng-bind="article.read_num"></span>
                </div>
                <div class="paper__info--span">
                    <i class="fa fa-comments"></i>
                    评论数
                    <span ng-bind="article.comment_num"></span>
                </div>
                <div class="paper__info--span" ng-repeat="tag in article.tags">
                    <i class="fa fa-tag"></i> <span ng-bind="tag"></span>
                </div>
            </section>
            <section class="paper__content">
                <div class="paper__content--inner markdown-body" ng-bind-html="article.content | toTrusted"></div>
                <!--page-->
            </section>
            <!--the end-->
            <!--<section class="paper__navBox">-->
                <!--<div class="paper__navBox__inner">-->
                    <!--&lt;!&ndash;<div>-&#45;&#45; The End -&#45;&#45;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="pager-prev">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>上一篇</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="pager-next">&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>下一篇</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            <!--</section>-->
        </div>
        <section class="commentbox">

            <!--标题-->
            <div class="commentbox__header">
                <h3><span class="commentbox__header--Comments">Comments</span><span class="commentbox__header--count" ng-bind="article.comment_num">0</span></h3>
            </div>

            <!--提问题-->
            <div class="commentBox__question" ng-class="{true:'',false:'active'}[canComment]">
                <!--问题盒子-->
                <div class="commentBox__questionBox">
                    <input ng-focus="chain.selectId=''" class="commentBox__questionBox--input" type="text" placeholder="我要说几句" ng-model="commentContent">
                    <button class="btn commentBox__questionBox--reply" ng-click="commentBtn(article,commentContent);commentContent=''"
                            ng-disabled="!commentContent || !commentInfo.username || !commentInfo.email">
                       <i class="fa fa-fw" ng-class="{'default':'fa-comments','going':'fa-spinner fa-spin','success':'fa-check','error':'fa-close','email':'fa-envelope','clock':'fa-clock-o'}[chain.main_state]"></i>
                    </button>
                </div>
                <!--个人信息-->
                <div class="commentBox__info">
                    <div class="commentBox__info--input">
                        <label>昵称:</label>
                        <input type="text" placeholder="请输入昵称!" ng-model="commentInfo.username">
                    </div>
                    <div class="commentBox__info--input ">
                        <label>邮箱: </label>
                        <input type="text" placeholder="请输入邮箱!" ng-model="commentInfo.email">
                    </div>
                </div>
            </div>

            <!--问题盒子-->

            <div class="commentbox__inner">
                <div class="comments" ng-repeat="comment in commentList track by $index" ng-init="toggle=false">
                    <!--{{comment._id}}{{'&#45;&#45;'}}{{chain.selectId ==comment._id}}{{'&#45;&#45;'}}{{toggle}}{{'&#45;&#45;'}}{{chain.selectId}}-->
                    <div class="comments__ask">
                        <div class="comments__ask__header">
                            <!--<span class="name" ng-bind="comment.name"></span>&ensp;·&ensp;<span am-time-ago="comment.time" ></span>&ensp;·&ensp;<span class="reply" ng-click="commentToComemntBtn($event)">回复</span>-->
                            <span class="name" ng-bind="comment.name"></span>&ensp;·&ensp;<span am-time-ago="comment.time" ></span>&ensp;·&ensp;<span class="reply" ng-click="chain.selectId=comment._id;toggle=!toggle;">回复</span>
                        </div>
                        <div class="comments__ask__content">
                            <span ng-bind="comment.content"></span>
                        </div>
                    </div>
                    <div class="comments__reply" ng-class="{true:'active',false:''}[(chain.selectId ==comment._id  && toggle) || (toggle = false)]">
                        <!--提问题-->
                        <div class="commentBox__question" ng-class="{true:'',false:'active'}[canComment]">
                            <!--问题盒子-->
                            <div class="commentBox__questionBox">
                                <input class="commentBox__questionBox--input" type="text" placeholder="我要说几句" ng-model="commentContent">
                                <button class="btn commentBox__questionBox--reply" ng-click="commentBtn(comment,commentContent);commentContent='';" ng-disabled="!commentContent || !commentInfo.username || !commentInfo.email">
                                    <i class="fa fa-fw" ng-class="{'default':'fa-comments','going':'fa-spinner fa-spin','success':'fa-check','error':'fa-close','email':'fa-envelope','clock':'fa-clock-o'}[chain.sub_state]"></i>
                                </button>
                            </div>
                            <!--个人信息-->
                            <div class="commentBox__info">
                                <div class="commentBox__info--input">
                                    <label>昵称:</label>
                                    <input type="text" placeholder="请输入昵称!" ng-model="commentInfo.username">
                                </div>
                                <div class="commentBox__info--input ">
                                    <label>邮箱: </label>
                                    <input type="text" placeholder="请输入邮箱!" ng-model="commentInfo.email">
                                </div>
                            </div>
                        </div>

                        <div class="comments__reply__each" ng-repeat="reply in comment.next_id track by $index">
                            <div class="comments__reply__header">
                                <span class="name" ng-bind="reply.name"></span>&ensp;·&ensp;<span am-time-ago="reply.time" ></span>
                            </div>
                            <div class="comments__reply__content">
                                <span ng-bind="reply.content"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </section>
</article>