<article class="main-article  animated fadeIn" scroll-top-zero>
    <div class="yearBox card-shadow" ng-repeat="yearBox in historyLists track by $index">
        <h3 class="yearBox__title"><i class="fa fa-calendar"></i>&ensp;Year of {{yearBox.year}}</h3>
        <div class="yearBox__content">
            <div class="monthBox" ng-repeat="monthBox in yearBox.data track by $index">
                <div class="monthBox__name">
                    <h3 ng-bind="monthBox.month | toEnMonth | uppercase"></h3>
                </div>
                <ul class="monthBox__content">
                    <li class="monthBox__content__item"
                        ng-repeat="article in monthBox.data track by $index"
                        ui-sref="blog.detail({id:article._id})">
                        <span ng-bind="article.title"></span>&ensp;
                        <!--<small>-->
                            (阅读数:<span ng-bind="article.read_num"></span>,
                            评论数:<span ng-bind="article.comment_num"></span>)
                        <!--</small>-->

                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
