<article class="main-article animated fadeIn">
    <section class="main-article-body" ng-if="articleLists.length">
        <article class="article" ng-repeat="article in articleLists"  ui-sref="blog.detail({id:article._id})">
            <div class="article__header">
                <h2 class="article__header--title" ng-bind="article.title"></h2>
                <div class="article__header--content" ng-bind-html="article.content | toTrusted"></div>
            </div>
            <div class="article__infobox">
                <div class="article__info">
                    <div class="article__info--each">
                        <i class="fa fa-calendar"></i>
                        <span am-time-ago="article.publish_time"></span>
                    </div>
                    <div class="article__info--each">
                        <i class="fa fa-book"></i>
                        阅读数
                        <span class="article-readnum" ng-bind="article.read_num"></span>
                    </div>
                    <div class="article__info--each">
                        <i class="fa fa-comments"></i>
                        评论数
                        <span class="article-comment" ng-bind="article.comment_num"></span>
                    </div>
                    <div class="article__info--each hidden-xs" ng-repeat="tag in article.tags">
                        <i class="fa fa-tag"></i> <span ng-bind="tag"></span>
                    </div>
                </div>

                <div class="arrticle__readmore hidden-xs">
                    <span>阅读更多</span>
                </div>
            </div>
        </article>
    </section>
</article>
<!--</div>-->
<!--无数据提示-->
<div class="nodata  animated fadeIn" ng-if="!articleLists.length && isLoaded">
    <div class="logo-left-box">
        <h2 class="logo"><span class="blue">X</span><span class="white">-SONGTAO</span></h2>
        <h3 class="blue notice">提示!</h3>
        <p class="white">没有找到数据,~~~~(>_<)~~~~</p>
    </div>
    <img src="./web/img/employee.svg" alt="employee">
</div>