html,
body {
    width: 100%;
    height: 100%;
}

/* line 12, ../../app/styles/_layout.scss */
body {
    background: #333 url(../images/demo-10.jpg) no-repeat center center/cover;
}

/* line 16, ../../app/styles/_layout.scss */
.admin {
    height: 100%;
    width: 100%;
    background: transparent radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}

/* line 22, ../../app/styles/_layout.scss */
.adminBox {
    width: 940px;
    /*height: calc(100% - 42px);*/
    height: 100%;
    padding-bottom: 50px;
    padding-top: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: all ease 200ms;
}

/* line 33, ../../app/styles/_layout.scss */
.adminBox-nav {
    width: 160px;
    height: 180px;
    display: inline-block;
    /*float: left;*/
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    transition: all ease 200ms;
    overflow: hidden;

}

@media (max-width: 991px) {
    .adminBox{
        width:825px;
    }
    .adminBox-nav {
        width: 45px;
    }
    .adminBox-nav ul li .word{
        opacity: 0;
        display: none;
        overflow: hidden;
        /*position: absolute;*/
    }
    .adminBottomInner{
        padding-left: 45px!important;
    }
}
.adminBox-nav ul li .word{
    opacity: 1;
}
.adminBox-nav ul li a{
    color: inherit;
}
.adminBox-nav ul li a:hover{
    color: #00b2e2;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}
/* line 40, ../../app/styles/_layout.scss */
.adminBox-nav .headerImg {
    width: 100%;
    height:45px;
}

/* line 43, ../../app/styles/_layout.scss */
.adminBox-nav ul {
    padding: 0;
    margin: 0;
    color: #fff;
    list-style: none;
}

/* line 48, ../../app/styles/_layout.scss */
.adminBox-nav ul .active {
    color: #00b2e2;
    background-color: rgba(0, 0, 0, 0.7);
}

/* line 51, ../../app/styles/_layout.scss */
.adminBox-nav ul li {
    height: 45px;
    line-height: 45px;
    text-align: right;
    width: 100%;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 300ms;
}

.adminBox-nav ul li:hover {
    color: #00b2e2;
}

/* line 58, ../../app/styles/_layout.scss */
.adminBox-nav ul li .icon {
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
}

/* line 68, ../../app/styles/_layout.scss */
.adminBox-content {
    width: 780px;
    height: 100%;
    padding: 0 30px;
    /*float: right;*/
    box-sizing: border-box;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 3px;

    border-bottom: 2px solid #00b2e2;
}

/* line 82, ../../app/styles/_layout.scss */
.admin-bottom {
    position: absolute;
    bottom: 8px;
    width: 100%;
    color: #eee;
    /*padding-left: 150px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.adminBottomInner{
    width:780px;
    margin:0 auto;
    padding-left:160px;
    transition: all ease 200ms;
}
/* line 89, ../../app/styles/_layout.scss */
.blue {
    color: #00b2e2;
}

/* line 93, ../../app/styles/_layout.scss */
.textItem {
    color: #fff;
}

/* line 98, ../../app/styles/_layout.scss */
.adminBox-content-header h1 {
    font-family: "Dosis", arial, tahoma, verdana;
    display: inline-block;
    float: right;
    padding: 20px 30px 10px 0;
    margin: 0;
    border-top: 2px solid #00b2e2;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 3px;
}

/* line 112, ../../app/styles/_layout.scss */
.adminBox-content-innerBox {
    width: 100%;
    padding-top: 50px;
    height: 100%;

    /*overflow: visible;*/
}

/* line 119, ../../app/styles/_layout.scss */
.myInfo {
    overflow: hidden;
    height: 100%;
}

.myInfoInner {
    display: block;
    padding-bottom: 30px;
    height: calc(100% - 77px);
    overflow: scroll;
}

.myInfoInnerFlexBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* line 123, ../../app/styles/_layout.scss */
.myInfo .title {
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
}

.imgBox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* line 128, ../../app/styles/_layout.scss */
.imgBoxInner {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 0px 3px 12px #000;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.myInfo #imgUpload {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.myInfo .dropzone .dz-preview {
    width: 180px;
    height: 180px;
    padding: 0;
    margin: 0;
}

.myInfo .dropzone .dz-preview .dz-image {
    width: 180px;
    height: 180px;
    padding: 0;
    margin: 0;
}

.myInfo .dropzone .dz-preview .dz-image img {
    width: 100%;
}

/* line 138, ../../app/styles/_layout.scss */
.myInfo .infoDetail {
    width: 50%;
    /*padding: 0 10px;*/
    color: #fff;
}

/* line 142, ../../app/styles/_layout.scss */
.myInfo .infoDetail label {
    color: #00b2e2;
    margin-bottom: 0;
}

/* line 146, ../../app/styles/_layout.scss */
.myInfo .infoDetail .form-group {
    margin-bottom: 10px;
}

/* line 149, ../../app/styles/_layout.scss */
.myInfo .infoDetail .inputContentStatic {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* line 156, ../../app/styles/_layout.scss */
.myInfo .infoDetail .inputContent {
    font-size: 16px;
    height: 36px;
    background-color: transparent;
    color: #fff;
    margin-left: -11px;
}

/* line 165, ../../app/styles/_layout.scss */
.myInfo .myMood {
    width: 100%;
    color: #fff;
}

/* line 168, ../../app/styles/_layout.scss */
.myInfo .myMood label {
    color: #00b2e2;
    margin-bottom: 0;
    /*padding: 0;*/
}

/* line 173, ../../app/styles/_layout.scss */
.myInfo .myMood .myMoodInputBox {
    /*padding: 0;*/
}

/* line 176, ../../app/styles/_layout.scss */
.myInfo .myMood .form-group {
    margin-bottom: 10px;
}

/* line 179, ../../app/styles/_layout.scss */
.myInfo .myMood .inputContentStatic {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* line 186, ../../app/styles/_layout.scss */
.myInfo .myMood .inputContent {
    font-size: 16px;
    height: 36px;
    background-color: transparent;
    color: #fff;
    margin-left: -11px;
}

/* line 194, ../../app/styles/_layout.scss */
.myInfo .personalState {
    width: 100%;
    height: 400px;
}

/* line 197, ../../app/styles/_layout.scss */
.myInfo .personalState label {
    font-size: 14px;
    color: #00b2e2;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 15px;
}

/* line 203, ../../app/styles/_layout.scss */
.myInfo .personalState .submitPersonalState {
    width: 100%;
    display: block;
    margin: 15px 0;
}

/* line 214, ../../app/styles/_layout.scss */
.catalogue .title {
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
}

/* line 219, ../../app/styles/_layout.scss */
.catalogue .catalogue-each-box {
    border: 1px solid rgba(107, 105, 106, 0.47);
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* line 224, ../../app/styles/_layout.scss */
.catalogue .catalogue-each-box .header {
    color: #fff;
    text-align: center;
}

/* line 228, ../../app/styles/_layout.scss */
.catalogue .catalogue-each-box .content-box {
    color: #fff;
}

/* line 230, ../../app/styles/_layout.scss */
.catalogue .catalogue-each-box .content-box .columnInfo {
    text-align: left;
}

/* line 233, ../../app/styles/_layout.scss */
.catalogue .catalogue-each-box .content-box .form-group {
    margin-bottom: 0;
}

/* line 242, ../../app/styles/_layout.scss */
.tags {
    height: 100%;
}

.tags .title {
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
    text-align: left;
}

/* line 249, ../../app/styles/_layout.scss */
.tags table {
    color: #fff;
}

/* line 252, ../../app/styles/_layout.scss */
.tags table th {
    text-align: center;
    color: #00b2e2;
}

/* line 258, ../../app/styles/_layout.scss */
.tags table .danger td {
    background-color: rgba(255, 2, 0, 0.53) !important;
}

.tags table .warning td {
    background-color: rgba(2, 255, 0, 0.35) !important;
}

/* line 262, ../../app/styles/_layout.scss */
.tags table td {
    vertical-align: middle !important;
}

.article {
    height: calc(100% - 30px)
}

/* line 271, ../../app/styles/_layout.scss */
.article .title {
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
}

/* line 277, ../../app/styles/_layout.scss */
.article .cudaBtnBox #deleteArticle {
    color: #c7c7c7;
    transition: color ease 200ms;
}

/* line 281, ../../app/styles/_layout.scss */
.article .cudaBtnBox #deleteArticle:hover {
    color: #449d44;
}

/* line 284, ../../app/styles/_layout.scss */
.article .cudaBtnBox #editArticle {
    color: #c7c7c7;
    transition: color ease 200ms;
}

/* line 288, ../../app/styles/_layout.scss */
.article .cudaBtnBox #editArticle:hover {
    color: #449d44;
}

/* line 291, ../../app/styles/_layout.scss */
.article .cudaBtnBox #addArticle {
    color: #c7c7c7;
    transition: color ease 200ms;
}

/* line 295, ../../app/styles/_layout.scss */
.article .cudaBtnBox #addArticle:hover {
    color: #449d44;
}

/* line 304, ../../app/styles/_layout.scss */
.article table {
    text-align: center;
    color: #fff;
}

/* line 307, ../../app/styles/_layout.scss */
.article table th {
    text-align: center;
    color: #00b2e2;
}

/* line 314, ../../app/styles/_layout.scss */
.article table tbody .active td {
    color: #449d44;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* line 322, ../../app/styles/_layout.scss */
.article table .danger td {
    background-color: rgba(88, 0, 0, 0.35) !important;
}

/* line 326, ../../app/styles/_layout.scss */
.article table td {
    vertical-align: middle !important;
    cursor: pointer;
}

/* line 339, ../../app/styles/_layout.scss */
.btn-blue {
    background-color: #00b2e2;
    color: #fff;
    transition: all ease 300ms;
}

/* line 345, ../../app/styles/_layout.scss */
.btn-blue:hover {
    color: #fff;
    background-color: #00C1F1;
}

.btn-blue:active {
    color: #fff;
    background-color: #00C1F1;
}

/* line 353, ../../app/styles/_layout.scss */
.inputContent {
    display: none;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid rgba(132, 132, 132, 0.37)
}

/*border-top: 1px solid rgba(132, 132, 132, 0.37)*/

.tags table tbody tr {
    height: 41px;
}

.tableScrollBox {
    /*width:100%;*/
    height: calc(100% - 106px);
    /*background-color:red;*/
    overflow: hidden;
}

/*定义表格每列的宽度*/
.table-head tr th:nth-child(2),
.table-head tr th:nth-child(3),
.table-head tr th:nth-child(4),
.table-head tr th:nth-child(5),
.table-head tr th:nth-child(6) {
    width: 19%;
    padding-left: 0;
    padding-right: 0;
}

.table-body tr td:nth-child(2),
.table-body tr td:nth-child(3),
.table-body tr td:nth-child(4),
.table-body tr td:nth-child(5),
.table-body tr td:nth-child(6) {
    width: 20%;
    padding-left: 0;
    padding-right: 0;
}

.table-body {
    height: 100%;
    overflow-y: scroll;
    padding: 0 0 15px 0;
}
