
.articleList {
  .title {
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
  }
  .btnBox {
    //text-align: right;
  }
  table {
    text-align: center;
    color: #fff;
    th {
      text-align: center;
      color: #00b2e2;
      position: relative;
      cursor: pointer;
      span {
        position: absolute;
        margin-left: 5px;
        top: inherit;
        left: inherit;
      }
    }
    td {
      vertical-align: middle !important;
      //cursor: pointer;
      max-width: 190px;
    }
  }
}

.articleEdit {
  .title {
    width: 100%;
    color: #fff;
    margin-bottom: 30px;
  }
  .mainSection {
    //编辑区
    @include display-flex;
    @include justify-content(space-between);
    @include align-items(flex-start);
    .editSection {
      width: 720px;
      .inputBox {
        @include display-flex;
        @include justify-content(space-between);
        @include align-items(center);
        box-sizing: border-box;
        margin-bottom: 10px;
        //padding-bottom: 5px;
        border-bottom: 2px dashed #bbb;
        .inputBox__input {
          width: 77%;
          //padding-right: 4px;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          .form-inline {

            &.title_form {
              .form-group {
                white-space: nowrap;
                overflow: hidden;
                input {
                  width: 489px;
                }
              }

            }
            &.other_form {
              @include display-flex;
              @include justify-content(space-between);
              @include align-items(center);
              .other_form--input {
                width: 205px;
                padding: 0;
                margin: 0;
                border: none;

              }
              .multiselect {
                position: relative;
                border: none;
                outline: none;
                background: transparent;

                .btn-group {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  button {
                    width: 100%;
                  }
                }
              }
            }
            .form-group {
              vertical-align: middle;
              margin-bottom: 10px;
              label {
                color: #fff;
                margin-right: 5px;
              }
            }

          }
        }
        .inputBox__btn {
          width: 23%;
          padding-left: 10px;
          height: 88px;
          //width: 100%;
          @include display-flex;
          @include justify-content(center);
          @include align-items(center);

          box-sizing: border-box;
          .inputBox__btn--submit {
            flex: 1;
            height: 88px;
            box-sizing: border-box;
            padding: 0 0 10px 0;
            button {
              //height: 100%;
              flex: 1;
              height: 100%;
            }
          }
          .inputBox__btn--other {
            flex: 1;
            height: 88px;
            padding: 0 0 10px 0;
            @include display-flex;
            @include justify-content(space-between);
            @include align-items(center);
            @include flex-direction(column);
            button {
              //height: 100%;
              width: 95px;
            }
          }
        }

      }
      //text-align: right;

    }

    //  预览区
    .previewSection {
      display: none;

      width: 720px;
      .block {
        height: 90px;
        width: 100%;
        margin-bottom: 10px;
      }

    }
  }

}

.textaresBox {
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;

  &:before {
    content: 'PREVIEW';
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 80px;
    height: 90px;
    line-height: 90px;
    padding-right: 15px;
    color: rgba(146, 146, 146, 0.3);
    font-weight: bolder;
    z-index: 0;
  }
  &:after {
    content: '预览区';
    position: absolute;
    bottom: 90px;
    right: 0;
    font-size: 40px;
    height: 50px;
    line-height: 50px;
    padding-right: 15px;
    color: rgba(56, 183, 234, 0.3);
    font-weight: bolder;
    z-index: 0;
  }

  &.textaresBox_input {
    &:before {
      content: 'EDITING';
    }
    &:after {
      content: '编辑区';
    }
  }
  &.textaresBox_preview {
    &:before {
      content: 'PREVIEW';
    }
    &:after {
      content: '预览区';
    }
  }


  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    overflow: hidden;
  }
  .textarea {
    z-index:999;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    min-height: 650px;
    position: relative;
    overflow: hidden;
    //margin: 0;
    //font: inherit;
    //color: inherit;
    &:focus {
      border-color: #337ab7;
      //border-width: 1px;
      outline: none;
      box-shadow: 0 0 10px #337ab7;
    }


  }

}

.adminBox-content {
  &.preview {
    width: 1530px;
    .previewSection {
      display: block;
    }
  }
}