//后台整个页面的盒子
.adminBox{
  overflow-y:scroll;
  height:100%;
  .adminBox-content {
    width: 780px;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    border-radius: 3px;
    border-bottom: 2px solid #00b2e2;
    margin-top: 50px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    user-select:none;
    -webkit-user-select:none;
    -webkit-user-select: none;
    //min-height:500px;
    min-height: calc(100% - 100px);
    .adminBox-content-header h1 {
      //font-family: "Dosis", arial, tahoma, verdana;
      display: inline-block;
      float: right;
      padding: 20px 30px 10px 0;
      margin: 0;
      border-top: 2px solid #00b2e2;
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: 3px;
    }

    .adminBox-content-innerBox {
      width: 100%;
      padding-top: 50px;
      height: 100%;
    }
  }
  .adminBox-footer{
    position: absolute;
    width: 100%;
    bottom: 1%;
    left: 50%;
    color: #eee;
    font-size: 12px;
    transform: translate3d(-50%, 0, 0);

  }
}

.blue {
  color: $base-theme-color;
}
.textItem {
  color: #fff;
}
//.admin-bottom {
//  position: absolute;
//  bottom: 8px;
//  width: 100%;
//  color: #eee;
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}
//
//.adminBottomInner {
//  width: 780px;
//  margin: 0 auto;
//  padding-left: 160px;
//  transition: all ease 200ms;
//}



//删除的模态框将margin去掉
.modal-body{
  .deleteConfirmText{
    margin:10px;
  }
}





//.tags table tbody tr {
//  height: 41px;
//}

//.tableScrollBox {
//  /*width:100%;*/
//  height: calc(100% - 106px);
//  /*background-color:red;*/
//  overflow: hidden;
//}

/*定义表格每列的宽度*/
//.table-head tr th:nth-child(2),
//.table-head tr th:nth-child(3),
//.table-head tr th:nth-child(4),
//.table-head tr th:nth-child(5),
//.table-head tr th:nth-child(6) {
//  width: 19%;
//  padding-left: 0;
//  padding-right: 0;
//}
//
//.table-body tr td:nth-child(2),
//.table-body tr td:nth-child(3),
//.table-body tr td:nth-child(4),
//.table-body tr td:nth-child(5),
//.table-body tr td:nth-child(6) {
//  width: 20%;
//  padding-left: 0;
//  padding-right: 0;
//}
//
//.table-body {
//  height: 100%;
//  overflow-y: scroll;
//  padding: 0 0 15px 0;
//}
