
.tags {
  height: 100%;
  .title {
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
  }
  .btnBox{
    //text-align: right;
  }
  table {
    color: #fff;
    th {
      text-align: center;
      color: #00b2e2;
      cursor: pointer;
      position: relative;
      span{
        position: absolute;
        margin-left: 5px;
        top: inherit;
        left: inherit;
      }
    }
    .danger td {
      background-color: rgba(255, 2, 0, 0.53) !important;
    }
    .warning td {
      background-color: rgba(2, 255, 0, 0.35) !important;
    }
    td {
      vertical-align: middle !important;
      font-size: 14px;
      text-align: center;
    }
  }
}

.modal {
  .submitText {
    color: $base-theme-color;
    transition: all ease 300ms;
    margin-right:10px;
  }
}