<article class="main-article animated fadeIn">
    <section class="main-article-body">
        <article class="article" ng-repeat="article in articleLists"  ui-sref="blog.detail({id:article._id})">
            <div class="article__header">
                <h2 class="article__header--title" ng-bind="article.title"></h2>
                <div class="article__header--content" ng-bind-html="article.content | toTrusted"></div>
            </div>
            <div class="article__infobox">
                <div class="article__info">
                    <div class="article__info--each">
                        <i class="fa fa-calendar"></i>
                        <span ng-bind="article.publish_time | date: 'yyyy-MM-dd'"></span>
                    </div>
                    <div class="article__info--each">
                        <i class="fa fa-book"></i>
                        阅读数
                        <span class="article-readnum" ng-bind="article.read_num"></span>
                    </div>
                    <div class="article__info--each">
                        <i class="fa fa-comments"></i>
                        评论数
                        <span class="article-comment" ng-bind="article.comment_num"></span>
                    </div>
                    <div class="article__info--each" ng-repeat="tag in article.tags">
                        <i class="fa fa-tag"></i> <span ng-bind="tag"></span>
                    </div>
                </div>

                <div class="arrticle__readmore">
                    <span>阅读更多</span>
                </div>
            </div>
        </article>
        <!--<div class="readMoreTo">-->
            <!--<span> 以上为最新的10篇文章</span>-->
        <!--</div>-->
    </section>
</article>
<!--</div>-->
